* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
 gap: 10px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1 / 3;
  background-color: #393f4d;
  height: 80px;
}
.logo {display: grid;
 align-self: start;
 margin-top: 10px;
  text-align: left;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 40px;
  margin-right: 40px;
  margin-left: auto;
  margin-top: 10px;
  justify-content: right;
  font-size: 16px;
 list-style: none;
}

.sidebar {
  display: grid;
  grid-row: 2/ 4;
  gap: 8px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: #C50208;
}

.sidebar .photo {
  display: grid;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  height: 45px;
  p {
    margin-top: 15px;
  }
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  height: 45px;

}

.nav {
  display: grid;
  grid-template-rows: 1fr ;
  background-color: #C50208;
  
}

.nav ul,nav li {
  display: grid;
  grid-template-columns:repeat(3, 250px);
  list-style: none;
  margin-left: 90px;
  justify-content: space-around;
  font-size: 16px;
  text-transform: uppercase;

  
}

.article {display: grid;
  grid-template-columns: repeat(6,200px);
  gap: 15px;
  
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
  
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  display: grid;
  grid-column: 1 / 3;
  height: 60px;
  background-color: #393f4d;
  text-align: center;
}

.footer p {
  margin-top:20px ;
  font-size: 13px;
  font-weight: normal;
}